html{
    scroll-snap-type: y mandatory;
}

.app{
    background-color: rgb(43, 41, 41);
    height: 100vh;
    display: grid;
    place-items: center;
}

.app__videos{
    position: relative;
    height: 800px;
    border-radius: 20px;
    border: 1px solid;
    width: 80%;
    max-width: 500px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

/* Hide Scrollbar For Chrome,Safari,Opera */
.app__videos::-webkit-scrollbar{
    display: none;
}

/* Hide Scrollbar For FireFox */
.app__videos{
    -ms-overflow-style: none;
    scrollbar-width: none;
}